tqdm
djangorestframework
djangorestframework-simplejwt
psycopg2-binary
bmt
reasoner_pydantic
django-environ
django-hosts
gunicorn
django
requests
requests-cache
django-filter
celery
flower
redis
pandas
django-cors-headers
django-oauth-toolkit
nltk
pattern
